apiVersion: v1
kind: PersistentVolume
metadata:
  name: postgres-01-pv
  labels:
    type: local
spec:
  storageClassName: manual
  capacity:
    storage: 2Gi
  accessModes:
    - ReadWriteOnce
  hostPath:
    path: "/mnt/postgres_data"
